body {
    background-color: rgb(243, 245, 248);
}
.button-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.container-test {
    display: flex;
    background-color: green;
}
.player-container {
    display: flex;
    background: rgb(41, 148, 145);
    padding: 10px;
}

.computer-container {
    display: flex;
    background-color: rgb(224, 147, 22);
    padding: 10px;
}
.round-container {
    background-color: green;
    padding: 10px;
}

.score-container {
    display: flex;
    gap: 20px;
}

.winner-container {
    padding: 10px;
}